*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--PRIMARY-BACKGROUND-CLR);
  color: var(--PRIMARY-TEXT-CLR);
  font-family: "Work Sans", sans-serif;
  padding: calc(var(--LOGO-HEIGHT) + calc(var(--NAVBAR-PADDING-Y) * 2))
    var(--BODY-PADDING-X);
}

a,
button,
input,
li {
  all: unset;
}

a,
button {
  cursor: pointer;
}
