:root {
  --ACCENT-MAROON-CLR: #811434;
  --ACCENT-PINK-CLR: #ef4859;
  --DARK-GREY-CLR: #485572;
  --DARK-TEXT-CLR: #262730;
  --LIGHT-GREY-CLR: #8c8ca1;
  --PRIMARY-BACKGROUND-CLR: #e5e5e5;

  --BODY-PADDING-X: clamp(1rem, 1rem + 2vw, 4rem);
  --BODY-PADDING-Y: 1.5rem;
  --LOGO-HEIGHT: 50px;
  --NAVBAR-PADDING-Y: 10px;
}
