:root {
  --ACCENT-MAROON-CLR: #811434;
  --ACCENT-PINK-CLR: #ef4859;
  --DARK-GREY-CLR: #485572;
  --DARK-TEXT-CLR: #262730;
  --LIGHT-GREY-CLR: #8c8ca1;
  --PRIMARY-BACKGROUND-CLR: #fff;

  --BODY-PADDING-X: 1.5rem;
  --BODY-PADDING-Y: 0;
  --ICON-SIZE: 1.4rem;
  --HEADER-HEIGHT: 52px;
  --SECTION-PADDING: 1em;
  --SIDE-NAVBAR-PADDING-X: 2em;
  --SIDE-NAVBAR-PADDING-Y: 1.2em;
  --SIDE-NAVBAR-WIDTH: min(18rem, 20vw);
}
